[2015-11-16 15:29] qdnguyen opened #1 "threejs version"
Hello

Thank you very much for this excellent work! Do you have plan to do a THREE version instead of spidergl?

If yes, i can give help.

many thanks!

[2015-11-20 18:47] potenziani commented on #1
Hi,
at the present time a Three.js version of 3DHOP is just a possibility, but not yet on our road map.
However, if you are thinking to start working by now on this project branch, you are welcome. We will be happy to see your progress, and in the case of a shared vision to include them in the 3DHOP official release so as to distribute them to the community.
Anyway, thanks for your proposal, and t

[2015-11-24 14:32] qdnguyen commented on #1
Yeap! i have progressed on developping threejs version, actually, we can see some nodes but not all, may be i needs your help.

can you create a branch so i can commit my code.

[2018-03-29 20:45] ekansa opened #7 "Generate a Scale bar?"
First, I love 3DHOP it is amazing and congrats on a great approach to making 3D a part of the Web!

I'd like to request a useful feature. Often times, one would want to have a more immediate idea of scale when first viewing a model. It would be nice to have an option to add a scale bar (one that can be toggled on and off) that is automatically generated as a simple rectangular volume that appears

[2018-03-30 12:01] mcallieri commented on #7
Hi there, thanks for reaching out.
It is certainly an interesting idea. However, it is difficult to implement it in an automatic way :(
It would be a mess to decide automatically which size should be the bar, which kind of subdivision (every 1-5-10-100 units), and where to place it into the scene such that it is useful/visible/unoccluding.
We have done it, case by case, creating custom geometries

[2018-06-22 12:57] hcjghr opened #9 "Indication of the level of detail"
Hi,

First of all I want to thank you for an amazing library. I'm looking at using it to display large complex models which will take advantage of the hierarchical display. Given that it can sometimes take longer time or require to zoom in to display the high res details, I was wondering if there is a way to get the information about the current display quality and how it to the user. Given that I

[2018-06-25 09:14] mcallieri commented on #9
hi there.

Those information are not available. There is no "current detail level" because the data of the model is loaded AND discarded from the local cache, and different parts of the model are loaded and drawn at different level of detail.
If you go in debug mode (change the vaue in presenter.js, or call presenter.toggleDebugMode() ), and press 1 on the keyboard, you have a visual feedback of t

[2018-06-25 09:14] #9 closed

[2018-07-10 11:44] gmiguelr87 opened #10 "New section tool and possibility of exporting "the result" to obj"
First of all, thanks to the whole team.
3DHop is a fantastic tool!

I am relatively new to this whole world and I have some doubts:
- On the one hand, I read that you are going to publish a tutorial on how to create a more advanced section tool. I was wondering how I can do it now.
- On the other hand, I was also wondering if the sectioned 3D model I'm viewing can be exported to obj for example, a

[2018-07-10 12:12] mcallieri commented on #10
Hi.

yes, we plan to add some templates and tutorials on how to procedurally place the section plane in a specific position, and how to rotate the section plane, but we do not have an exact plan, and this can take a while.

for the other thing, unfortunately, this is not possible, and will never be possible. The section you see is just done in rendering, we simply stop drawing the object after a c

[2018-07-10 15:05] gmiguelr87 commented on #10
Hi @mcallieri ,

Thank you for your really quick response! It's very good and fast using the nxs format!
3DHop is really fantastic to visualize my models and analyze them (get coordinates, measures, etc), even it would be able to scale the models or change it reference system (or simulate it) thanks to translation and rotation internal functions.

I asked that because I was thinking about the poss

[2018-11-20 11:48] wiztigers opened #11 "Multires models examples ?"
Hello,

I'm currently working with the University of Strasbourg (unistra) on a Django based 3D file sharing web solution, and I'm testing 3DHop integration.
I'd like to thank you for this initiative : it seems great, and we'd love to use it !

However, although everything is fine when displaying single res `.ply` files, I've got issues when trying to display multires `.nxs`/`.nxz` files.
For examp

[2018-11-22 15:50] potenziani commented on #11
Hi @wiztigers, let's try to clarify your doubts...

First of all: yes, 3DHOP has been designed to work on all the main browsers and on all the main OS (this includes also Linux, even if clearly is not possible for us testing all the Linux distro).

Moving to your issues, a good strategy to solve them consists in going step by step: firstly, to check if 3DHOP works in your system try to run whateve

[2018-11-29 06:09] wiztigers commented on #11
Hi @potenziani , and thanks a lot for your quick answer.
My system is indeed able to run 3DHOP examples : after your directions, I installed Apache and, once I copied 3DHOP examples in it, everything worked flawlessly.
So, according to your directions, it seems the problem may lie in the  handling of external files : python's `SimpleHTTPServer` does not support that, but Apache default install doe

[2018-11-30 08:51] Arhitetka opened #12 "zoom direction"
Hi,

THANK YOU for 3DHOP!!!

Cheers!

[2018-12-03 09:14] #12 closed

[2018-12-12 14:47] gmiguelr87 opened #13 "Model illumination (normals)"
Hello!

I'm back here again, delighted with 3DHop!
I have a problem that I don't know if I could solve it. When I see models without normal on my mobile (Huawei P10), the lighting is on the right side (external part of the 3D model). However, if I see the same model from my wife's mobile (Huawei G8), the lighting is on the opposite side.
I would not like to show the normal ones, because in the mod

[2018-12-13 14:25] gmiguelr87 opened #14 "Is it possible to obtain all the vertices of the mesh?"
Hi!

Some time ago I asked if it was possible to export a section in OBJ, the answer was no, but one thing is not clear to me, perhaps because of my lack of advanced knowledge.
I would like to be able to access the vertices of the cloud, for example, once I have the .nxs file loaded in 3DHop and I am visualizing it, to be able to access all the vertices of the model, that way I could save a file w

[2018-12-13 16:19] potenziani commented on #13
Hi @gmiguelr87, in 3DHOP 4.2 we added the possibility to switch off the global lighting (see the "enableSceneLighting(state)" presenter function, or read the "camera and lighting setup" HOW TO.

Actually, if you are loading a 3D model (Ply or Nexus) without normal vectors, 3DHOP automatically switch off the global lighting, so what you are reporting is a strange issue...

Could you provide some mo

[2018-12-13 16:30] #11 closed

[2018-12-13 16:31] #7 closed

[2018-12-14 10:46] gmiguelr87 commented on #13
Hi @potenziani,

First of all, thanks for your quick response!
I'm using a mesh in nexus format, without normals (I use the --no-normals parameter when I convert from ply to nxs).

I used the new version of 3DHop. When it has normal, I see the lighting correctly, but also the defects I was talking about... if I modify the lighting, I see the main part dark again, and the part behind the model illu

[2018-12-14 16:58] potenziani commented on #13
So @gmiguelr87, you are in this situation:
- if you use standard conversion PLY -> Nexus (with normals enabled by default) when you visualize the model in 3DHOP you get correct lighting (but also distortions due to the model quality);
- if you use customized conversion PLY -> Nexus (forcing nexus not calculating normals) when you visualize the model in 3DHOP you get wrong lighting...

Now, some qu

[2019-04-01 13:08] gmiguelr87 commented on #13
Hi @potenziani

First of all, sorry for taking so long to respond, but I've been a little busy with other things and couldn't until now, and yes, you are right about my situation.

Regarding the questions...

1. You get part of the model dark and part illuminated, am I right?
Exactly, depending on the device I can see illuminated either the inside or the outside of the model. The correct thing is

[2019-04-10 09:34] #10 closed

[2019-04-10 12:45] potenziani commented on #13
Hi @gmiguelr87 ,
looking at the attached images it seems that your problem may be related to the boolean gl_FrontFacing variable used in the fragment shader for verifying whether a primitive is front or back facing. For some strange reason in your Huawei GX8 this variable assumes a reversed value. Because of this, the system paints in red the front/external side of your model instead of the back/i

[2019-04-17 12:10] #13 closed

[2019-04-18 15:34] potenziani commented on #14
Hi @gmiguelr87,

as you probably know Nexus is a multi-resolution format. It splits original geometries in tree structures composed by nodes. These nodes (all together) compose a representation of the original model (at different resolutions). 3DHOP uses this format just because the progressive loading of the various nodes doesn't impact too much on the performances of common browsers. Unfortunate

[2019-04-18 15:34] #14 closed

[2019-04-30 11:58] gmiguelr87 commented on #13
I really appreciate your response,

I've been trying what you told me (put backfacecolor: [1.0, 1.0, 1.0]) but the same thing keeps happening to me. Any other ideas?

Thanks again, I'm very passionate about your project!

[2019-04-30 14:41] potenziani commented on #13
So, even if your instance setup include the string "backfaceColor : [1.0, 1.0, 1.0, 0.0]", you continue to have part of the model painted in red... this is very strange!
Are you sure you are using the last DEV version of 3DHOP (you should get the log "3DHOP version: 4.2.8" in your browser console)?
And if yes,  did you try to modify the backface setup with any other values? (this is just for check

[2019-05-03 09:17] gmiguelr87 commented on #13
Hi @potenziani ,

Sorry, I have several versions of 3DHop and I was using version 4.1.
The instructions you gave me work perfectly, but not only for the last DEV, but also for the master branch. Sorry again for my mistake.

Thank you!!!

[2019-05-03 09:17] gmiguelr87 commented on #13
I now write this comment separately in case you think it should go somewhere else.

I'm investigating the possibility of including some tool to remove parts from the model (imagine an option to remove noise from a 3D model).
I have managed to select a series of points generating a polygon and "eliminate" that part of the model, but my knowledge is not very advanced and I don't know how to continue

[2019-05-03 11:26] gmiguelr87 commented on #14
Dear @potenziani ,

Thank you very much for your detailed response. One of the things I love 3DHop for is progressive loading, so I won't distort the basis of the framework.
The purpose was to be able to export the 3D model in other formats from 3DHop, and it is obvious that it is not possible without modifying the basis.
However, you have provided me with very valuable information, because I can

[2019-05-17 10:10] TJRL opened #15 "feature request: transitions & texture switching"
Hi, thanks for developing this great app. Especially the multi resolution feature is awesome. Playing around with it I noted two things that I'd like to see and that are missing.

1. When turning on and off models, it would be nice to have them gradually fade in/ out or morph rather than simply a hard switch. More generally, some animation/transition capacity would be really useful.
2. I would lik

[2019-05-24 08:26] gmiguelr87 opened #16 "Model without illumination on iPhone X and XR (latest version of 3DHop)"
Hello again!

I'm using the latest version of 3DHop (which is great), but I have a problem. With iPhone X and XR the 3D model looks totally black on both sides, however with iPhone 6 there is no such problem, not even in Safari for PC.

What could be the problem? How could I fix it?
Thank you very much in advance.

[2019-06-03 13:17] DavidGilHidalgo opened #17 "Animation in sphere trackball"
Hi,
I would like to know if it is possible to change the type of trackball without reloading the page.
The idea is to use the sphere trackball to get total control over the 3D model.
If I want to see an animation, switch to turntable trackball.

greetings and thank you for your help!

[2019-06-03 16:32] mcallieri commented on #17
In theory, yes, but I never tested it properly.
I remember doing it for some experiment, but never getting to the bottom of it.
The trackball is a ariable inside the presenter object, that is created at the beginning of the scene, according to the parameters int he scene description, and then, later on, is just used through an interface common to all trackballs

so, if you do something like
presen

[2019-06-04 09:31] DavidGilHidalgo commented on #17
Thank you so much for the answer.
I will follow your advice.
Greetings

[2019-06-04 09:31] #17 closed

[2019-06-04 09:36] potenziani commented on #16
Hi @gmiguelr87,
a few questions to better understand your problem:

- do you have issues in visualizing both Nexus and PLY files?
- do you have issues in visualizing both compressed and uncompressed files (just if the problem happens with the Nexus format)?
- do you have issues in visualizing both textured and color x vertex models?
- do you have issues also in visualizing the different examples o

[2019-06-04 11:30] potenziani commented on #15
Hi @TJRL ,
thanks for your appreciation and feedback.

Concerning your considerations:
1. this is an interesting point, so far we never considered something like this. For sure it is a nice feature, mostly from the "aesthetics" point of view. Nevertheless, it could require a not negligible code changes, and currently more structural features are characterized by a higher priority;
2. actually this

[2019-06-10 21:04] TJRL commented on #15
Hi @potenziani,
thanks for your answer!
Regarding my first point: I studied the API better and figured it's not too hard to animate the transparency value of models in order to create smooth transitions. So that's great!
As for the second, good to hear it's in the pipeline! For now I simply switch between more copies of the same model but with each a different texture.

I really love the versatili

[2019-06-10 21:37] TJRL opened #18 "shaders and mesh analysis"
Hi, another shameless feature request from me. Radiance Scaling and curvature visualization are amongst the most useful visual inspection tools for meshes of artefacts. I saw that MeshLabJS has the capacity to do this in the browser... So any plans to bring this functionality to 3DHOP? It would be a really awesome and very useful extension to 3DHOP.
Best,
Tijm

[2019-06-11 08:05] #15 closed

[2019-06-13 11:31] TJRL opened #19 "3DHOP freezes"
Hi, I have built an application to compare the results of 3D scans. It works fine, and than after switching between models a number of times and navigating the 3D space, it freezes. It doesnt occur after a specific period of time, sometimes it takes a few minutes, sometimes it occurs already after 20 seconds. It occurs in all browsers the same way. This is the link to the application:
http://www.4

[2019-06-13 16:16] TJRL opened #20 "Failure to load/process very basic model"
I'm trying to load a very simple single res ply file (a plane with a texture) in 3DHOP, but for some reason the texture (tried png and jpg) does not show. Also, hoping it would help, I tried to process it with nexus, but the program simply quit. I tried a countless number of things, exporting from Blender to Meshlab with various file formats and different ways of adding textures, but I cant solve

[2019-06-18 09:54] TJRL commented on #20
So, I finally 'solved' it by making the plane a box by extrusion. I still don't get why the plane was not accepted by 3DHOP and nexus.

[2019-06-19 12:31] gmiguelr87 commented on #16
Hi @potenziani ,

Well, after studying the matter as much as I could, it was simply solved without doing anything after a week. I tried to do a thousand things, but finally I think it must have been some iOS update. It hasn't happened again, so it's not a 3DHop bug.
Yes, it really happened with some (not all) examples of the official website, it was really strange.
I consider the topic closed.

As

[2019-06-19 12:31] #16 closed

[2019-06-20 06:52] gmiguelr87 opened #21 "Doubt/suggestion - 3D Map"
Hi again @potenziani

First of all, I'm very impressed with the project, the more I use it, the more I like it!

I have different georeferenced 3D mesh models of lands, and I was wondering if it would be possible to integrate some layer like OpenStreetMap into the viewer. I have seen something very interesting in that sense, the Cesium library. Before going deeper into the subject, I would like yo

[2019-06-20 13:38] potenziani commented on #20
Hi @TJRL ,
thanks for reporting this strange behavior!

I made different tests with your 3D model (using a test texture, since your link doesn't contain the jpg file), but unfortunately I wasn't able to replicate your problem.

In this [archive](https://github.com/cnr-isti-vclab/3DHOP/files/3310401/MT_Gmaps.zip) you can find both Nexus and Ply models I used in my tests (got starting from the model

[2019-06-20 14:57] potenziani commented on #19
Hi @TJRL ,
first of all congrats for your app, it seems to be very nice!

I'm playing with it from a while, without getting any freezing, so probably you are right, the problem could be somehow related to the amount of data you are visualizing and to your specific HW/SW configuration.
Could you provide some more info about your HW/SW system? Also, could you provide some more info about the models

[2019-06-20 15:19] TJRL commented on #20
Hi @potenziani ,

sorry, I had already updated the model I linked to to the one that worked. The model that gives issues is [this one](http://www.4dresearchlab.nl/3DHOP/MT/google/MT_test.zip) (now including the texture file)

I did another test using command line this time. It tells me `the bounding box is far from the origin (with respect to its size), the model MIGHT be quantized.`

The texture

[2019-06-20 15:54] potenziani commented on #20
Hi @TJRL,
when I wrote about textures resolution and per-vertex mapping, I was referring to PLY models visualized as it, without any conversion.
Instead, to get a multiresolution Nexus model your input PLY doesn't need either per vertex mapping and square-power-of-2 side resolution.
I know this can be confusing, but this is the reason why I told you that the management of PLY is quite raw...
Indee

[2019-06-20 16:05] TJRL commented on #19
Hi @potenziani,
thanks!
it took me a few minutes, and I almost believed it didnt freeze today but it did in the end. I have seen the freeze occur on various systems.
Are you talking about the HW/SW configuration of the system I'm working on or of the server that hosts the files and app?
I'm managing 8 different nxz files, between 2 and 15 million faces (the 5th and 10th radio button lets you empty

[2019-06-20 16:20] TJRL commented on #20
Ah, I understand. Thanks for updating!

I updated the link!

[2019-06-21 13:52] potenziani commented on #20
Hi @TJRL ,
ok, now everything is clear. Processing your PLY in Nexus you got this error message
[code]
But as you said

And you are almost right because your model (or bounding box) is near to the origin... but actually, it is not near enough! :-)

Let me explain, this is what you have:

![Annotazione 2019-06-21 135854](https://user-images.githubusercontent.com/2982503/59921033-bf45b800-942c-11e9-

[2019-06-21 14:48] TJRL commented on #20
Super thanks for the elaborate answer @potenziani
I learned something new today :)
(and I should have looked closer at where my origin actually was, I just thought: 'meeee, sort of in the middle, should be alright', clearly I thought like a human, not like nexus' algorithms ;))

[2019-06-21 14:50] #20 closed

[2019-06-23 10:36] TJRL commented on #19
@potenziani I've updated the post above after some more testing.

[2019-06-24 15:36] potenziani commented on #19
Hi @TJRL ,
finally I got the browser freeze, too (and in a quite performing system, so we can guess it not depend by the HW/SW configuration).

The problem is not related to the `net::ERR_CACHE_OPERATION_NOT_SUPPORTED` error (due to a known [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=770694) characterizing Chromium-based browsers), neither to the message `Error: WebGL warning: chec

[2019-06-27 12:47] DavidGilHidalgo opened #22 "Touch control"
Hi, I'm trying to access the code that controls tactile gestures on mobile devices.
I want to allow the 3D model to move if two fingers are used in the same direction.
I don't know if this function is done using JS or spiderGL.
Thanks again!

[2019-06-27 13:41] potenziani commented on #21
Hi @gmiguelr87,
once again, thanks for your appreciation!

3DHOP has not been specifically designed for handling maps/terrains, for this reason, by default, it doesn't provide 3D models georeferentiation or other specialized tools (in this sense, GIS-like applications, like for instance Cesium, could be the best option to meet your needs).

However, this not prevent you to develop your own tools o

[2019-06-27 14:13] potenziani commented on #22
Hi @DavidGilHidalgo ,

in 3DHOP the handling for touch gestures is implemented in the spidergl.js file (click
[here](https://github.com/cnr-isti-vclab/3DHOP/files/3335091/spidergl.zip) to download the current spidergl version not minified).

In particular, take a look at these 5 functions:
- _onTouchStart (line 16227);
- _onTouchEnd (line 16266);
- _onTouchMove (line 16321);
- _resolveTouchZoom (l

[2019-06-27 15:48] potenziani commented on #18
Hi @TJRL ,

of course, radiance scaling and screen-space curvature are useful visualization schemes.

Since these are mostly shaders-dependant inspection tools, their implementation in 3DHOP is certainly possible. However, they also require a rendering approach based on multiple passes (currently completely missing on 3DHOP).
Moreover, these visualization schemes are very specialized, and so, diff

[2019-06-27 19:10] ElectricEye89 opened #23 "Modifying Touch Sensitivity"
I am working on using the 3Dhop viewer on a kiosk, and I am having trouble locating where I can increase the sensitivity of touch rotation. The viewer works fine on most mobile devices, however, on the kiosk, you have to drag a long ways across the screen, and get little progress in rotation.
Any help would be much appreciated!

[2019-06-28 06:27] DavidGilHidalgo commented on #22
Hi @potenziani thank you so much for the quick response.
I'll take a look at spiderGL functions.
Great help always!

[2019-06-28 06:27] #22 closed

[2019-06-28 09:31] TJRL commented on #19
Hi @potenziani ,

that is strange, I don't get this Chrome error you show me. This is all I get, many times over:
![afbeelding](https://user-images.githubusercontent.com/22885764/60331331-b442d880-9994-11e9-9b47-535c3bb92d8b.png)
So it also tells me that it is 'recovering geometry' and 'recovering texture', referring to different nodes. I'm not sure whether this is pointing to something problemati

[2019-06-28 09:46] TJRL commented on #18
Thanks for the answer, @potenziani . The reason I'd like to have these tools in 3DHOP is that it can be useful in the presentation of interpretations of artefacts based on these shaders.
I have sort of a solution, namely by baking these shaders as textures. For potential future readers of this topic, interested in this: It's not possible to do this in meshlab (as far as I know), but Blender's poin

[2019-06-28 10:14] TJRL commented on #23
Hi @ElectricEye89 ,

I don't think there is an easy way to adjust mouse sensitivity. The orbit speed is relative to screen coordinates of the mouse pointer or touch location, so with big touch screens it will go slower. You'll have to find where this is defined in the core files, and adjust the function that transfers the screen coordinates to trackball position. Another option would be to make a

[2019-06-28 14:14] potenziani commented on #23
Hi @ElectricEye89 ,

if you want to modify the mapping of dragging interactions (rotation and pan) in 3DHOP, you just need to edit the numeric values at the end of lines 2683/4 in 3DHOP 4.2 (or lines 2604/5 in current 3DHOP DEVELOPMENT version) in the "presenter.js" file:

`if(ui.dragDeltaX(button) != 0) this.x += (ui.cursorDeltaX/500);`
`if(ui.dragDeltaY(button) != 0) this.y += (ui.cursorDeltaY/5

[2019-06-28 15:21] potenziani commented on #19
Hi @TJRL ,
yes, as I told you the network error messages you reported are related to the Chrome bug, and are not a problem for 3DHOP (when this error occurs 3DHOP activates a recovery procedure and you get the "Recovering geometry/texture for node ..." log message).
So, don't worry... and if you want to clear your console from this kind of errors just select the "Hide network" checkbox in the "Con

[2019-06-28 15:21] #18 closed

[2019-06-28 18:32] ElectricEye89 commented on #23
Thank you both for the quick response. Since we only needed this to reflect in our Kiosk, we were able to adjust that 500 value down in the presenter.js file, and it works like a charm!

Thanks again!

[2019-06-28 18:32] #23 closed

[2019-07-03 15:54] #21 closed

[2019-07-18 10:12] gmiguelr87 commented on #21
Hi again @potenziani ,

Well, what I'd like to do with the openStreetMap layers is something different. I'll see if I can implement it and I'll tell you something.
Regarding the option to have multiple textures in the same multiresolution model is something I'm very interested in. Do you have any idea what date it might be available for? Or is it in some branch of development?

Thank you!!

[2019-07-23 13:15] gmiguelr87 opened #24 "Deformed model when changing trackball position"
Hello again friends,

I'm working to automatically modify the trackball (the cameras) with setTrackballPosition function, so that a sequence of model views can be shown automatically. I'm calculating the positions and everything is fine except in one of them, in which the model is deformed (it's a house, and at that point it's practically flat, crushed, as if a giant stepped on it).
I can't unders

[2019-07-24 10:57] gmiguelr87 commented on #24
Hello again,

I'm sorry to have opened this issue, I don't know why I didn't notice before, but I had a 4x4 matrix value with a wrong sign. I close the issue, as I can not remove it.

Again, thank you for the impressive project, I'm delighted to enjoy it and the 3D world.

Best regards!

[2019-07-24 12:28] potenziani commented on #21
Hi @gmiguelr87 ,
unfortunately at the moment we have not a date for the release of this feature  (also, it is not available in any dev branch).
In the meanwhile, good luck with your implementation, and let us know if you do any progress with it!

[2019-07-30 06:20] gmiguelr87 commented on #21
Thank your very much @potenziani ,

I don't have the time I would like to be able to move forward with this idea, but I will do it step by step and if I succeed I will keep you informed!

[2019-07-30 10:59] gmiguelr87 commented on #24
Hi @potenziani ,

Regarding this (playing with trackball), I'm trying to get some positions automatically (similar to animations but with trackballsphere).
I am having some complications due to the different possible rotation matrices, and it would be helpful for me to know what convention has been used for the construction of the trackball matrix.

Thank you very much in advance!

[2019-08-06 15:19] bellerophons-pegasus opened #25 "Resizing after full screen view in Firefox not working properly"
We are using 3DHOP in an application to display ancient vases: https://odeeg.acdh.oeaw.ac.at/vases/object/detail/1

I had to remove "width:100%" and "height:100%" from 3dhop.css #draw-canvas (line 44) in order to properly display the small viewer along the other content.

The only remaining problem now is that when in Firefox I switch to Full Screen and then go back via "Exit Full Screen" or Esc t

[2019-08-07 08:24] bellerophons-pegasus commented on #25
Oh yes, the version I am using is 4.2 - Release: 6 Jun 2018

[2019-08-09 14:29] potenziani commented on #25
Hi @bellerophons-pegasus ,
the issue is not due to the 3dhop.css setup (so you can revert line 44 to the original values) but to the init.js file.

Here it is a new version of init.js that should comply with the flex design of your website: [init.zip](https://github.com/cnr-isti-vclab/3DHOP/files/3486700/init.zip) (probably it will be the default version in the next 3DHOP release, but we need to d

[2019-08-09 14:51] bellerophons-pegasus commented on #25
Hi @potenziani ,
thank you for your quick response. I just tried it out on my local machine and the new init.js file works like a charm!

By the way: the width and height from line 301 and 312 are added automatically by some js; I am not sure if it is the one from 3DHOP, or something done by bootstrap.

The minimal height on line 314 is needed, because otherwise the button menu is too large and fl

[2019-08-09 14:58] bellerophons-pegasus commented on #25
Also the style settings for #toolbar on line 314 come from the js, because of 'moveToolbar(0,5)'
Otherwise it would be places a little bit more inside the containing div  ;-)

[2019-08-09 15:05] potenziani commented on #25
Hi @bellerophons-pegasus ,
perfect, glad to see that everything works fine now! :-)

My fault, for sure the inline style definitions have been added by the "brute force" webpage download (I couldn't be sure, but I should have imagined it). Instead, concerning the minimal height, it is better to move it to the 3dhop general div container instead of having it just on the canvas. ;-)

[2019-08-09 16:07] #25 closed

[2019-08-11 17:42] IroMp opened #26 "keyboard input disabled"
Hello, I have created an input field `type=text` in the page where 3DHOP viewer is embedded and it is deactivated when WebGL content is fully loaded. It seems that it prevents from writing any text in that field. Have you ever encounter this issue?

[2019-08-20 14:34] potenziani commented on #26
Hi @IroMp,
the issue was due to the bad management of the webpage focus in 3DHOP. Please download the latest DEVELOPMENT version of 3DHOP (in the GitHub DEVELOPMENT branch) to solve it.

PS: please notice that if (and only if) you want to add an input text field as overlay panel inside the main 3DHOP DIV element (the one with `id="3dhop" class="tdhop"`), you also need to remove (at your risk) the

[2019-08-20 14:38] IroMp commented on #26
I'll download it, thank you!

[2019-08-20 14:38] #26 closed

[2019-09-30 21:38] coherit opened #28 "adding loading masks to the canvas"
I am adding a loading mask that will display until after a mesh is loaded (on slow connections and big meshes, users may get discouraged when they see the beautifully rendered toolbar and a blank canvas with no loading animation -- it looks empty to them like the file is missing).

However, I'm not sure if I'm doing this in the most elegant way:
Currently, I have a div#loading that displays by def

[2019-10-01 12:56] potenziani commented on #28
Hi @coherit,
what you propose is certainly interesting (even though this kind of feature concern mostly PLY models, since usually the raw version of the Nexus geometries is soon visualized in 3DHOP), but unfortunately, at the moment, 3DHOP does not provide this kind of feature.

The main reason is that we suggest to rely on PLY geometries just for small models (so, with short loading times), and t

[2019-10-02 15:40] coherit commented on #28
This is very helpful -- thanks for such a thorough reply! I'll give the loading bar a shot, and we'll reconsider converting to Nexus format again.

[2019-10-02 15:48] #28 closed

[2019-12-06 11:49] TJRL opened #30 "bump/normal etc"
Hi again, I wondered whether it is in the pipeline to add additional image map capacities such as bump/normal/roughness/AO?

[2020-01-15 14:24] potenziani commented on #30
Hi @TJRL  and sorry for the delay in the reply.

Currently we are investigating the possibility to build a Nexus model using multiple textures/image maps. However, this is an idea still in the embryonic stage, so at the moment is not possible for us to provide you with a reliable time horizon.

[2020-01-16 17:15] potenziani commented on #24
Hi @gmiguelr87
given the time that has passed, I'm not sure this answer is still required...

Anyway, 3DHOP uses the "object in hand" metaphor: it works similarly like the hardware trackball
devices, allowing the user to define 3D roto translations using a 2D input space.

Actually, from your question I cannot understand if you are referring just to the sphere trackball, or if you are talking more

[2020-01-16 17:16] #19 closed

[2020-01-16 19:39] YILINQ opened #31 "loading nxs file"
Hi, first of all I want to thank you for such an amazing library!

Now I have an issue that when loading many .nxs files, sometimes my browser(Google Chrome) got stuck, and I traced the network option and then I found that the browser is stuck when it tried to "loadNodeTexture" on one or some of the nxs files( it does not happen to a specific file or files ). The status of the corresponding .nxs f

[2020-01-17 15:34] potenziani commented on #31
Hi @YILINQ ,

your issue seems something like #19 ...

Are you using the DEVELOPMENT version of 3DHOP? If not, please try to update the system to it, retry, and let us know.

[2020-01-17 15:39] YILINQ commented on #31
Thank you for your quick reply! And yes I have tried the DEVELOPMENT version and this still occurs...

[2020-01-17 17:26] potenziani commented on #31
Ok, I also guess it might be the cache problem... but we need some other information for trying to debug this!

So, first of all, some fundamental questions: how many Nexus models are you loading? Are you visualizing all these models simultaneously? Do they all have textures? How many textures? And with which resolution?

Then, some other less fundamental (but still useful) questions: are your mod

[2020-01-17 19:32] YILINQ commented on #31
Hi, thank you for your patience again!
I loaded about 500 textured nexus model simultaneously and each of them is very simple and not too large(about 100kb per model).
I did not compress them to keep their shapes. And I used the latest version of Nexus from github.
As for the app, I develop it for desktop and I did not modify the 3DHOP components, I just follow the "how to" page and almost use 0-c

[2020-01-22 17:08] potenziani commented on #31
Hi @YILINQ ,
500 models all together on the same 3D scene are really many many many models!

The high number of objects you are trying to load simultaneously confirms the guess that probably you are having problems with some browser technical limitations (total available cache, max number of HTTP connections with the same domain name, etc.).

Anyway, we never tested 3DHOP with this number of model

[2020-01-22 17:09] #30 closed

[2020-01-22 17:09] #24 closed

[2020-01-29 12:30] Antsushi opened #32 "Objects have limited rotation angle in certain axes (usually Y and Z)"
Hi,

First of all, thank you for creating this software, it's fantastic! Unfortunately I am having an issue with the rotation of my models. The rotation issue can be observed in many of the galleries in your website on the "gallery" page, for example:

http://cyclamen.cyi.ac.cy/sites/3DV/3dhop.html

http://cabinetdecuriosites3d.mnhn.fr/fr/content/cro-magnon-1-homo-sapiens

http://vcg.isti.cnr.it/3

[2020-01-30 15:07] potenziani commented on #32
Hi @Antsushi ,

as you can read [here](http://3dhop.net/examples.php?id=3) 3DHOP provides 4 different trackballs to design interactions tailored on the object(s) you want to publish/visualize:
- **turntable** (default), this trackball always preserves the vertical axis, so it is extremely useful when you want to rotate around an object fixed in a center of rotation;
- **pantilt**, this trackball i

[2020-01-30 15:15] Antsushi commented on #32
@potenziani Oh, that's fantastic! I should have read the How To page much more carefully...

Thank you!

[2020-01-30 15:41] #32 closed

[2020-02-03 15:08] YILINQ commented on #31
Hi, I am back and really sorry for the delay!
I want to use 3DHOP as a tool to display a scene made up with a "tile based" map with some obj files as buildings.
Currently the design is to model each building as an obj file, but within a certain area there might be 20k buildings and I group about 300 obj files inside one nxs model, so totally there are over 500 nxs models to load...
About the textu

[2020-02-06 10:44] ponchio commented on #31
Grouping objs seems to me the only viable strategy. The main problem is that the simplification algorithm (quadrics) has trouble simplifying or merging simple building groups and I am not aware of a better algorithm.

In any case, the multiresolution algorithm (nexus) could probably be improved to support the case of little geometry and a lot of textures, if you could share the dataset (or even a

[2020-02-06 15:52] potenziani commented on #31
Hi @YILINQ  ,
just to add some details to what @ponchio said.

The idea to pack as many OBJ models as possible into a single Nexus file, so as to have a smaller number of multiresolution files to load on your webpage (meaning fewer index to load, fewer XMLHttpRequests, etc, etc), actually is a good idea. But it is not enough.

Indeed, in your case the problem could be structural: 500 models, each

[2020-02-07 05:02] YILINQ commented on #31
Thank you for your advice and I now see the problem to be loading too many nxs files at the same time, which cause the browser to crash......
Now I wonder if I can load and render my models separately, say if I zoom in to a certain area, the only models I need to load and render is those within this area, and I do not need to load the models outside of this area. If I slide the window, the view ch

[2020-02-07 16:44] potenziani commented on #31
In 3DHOP there is not an automatic way for doing this loading & rendering process (essentially because this is pretty much what Nexus already does with every single multiresolution model), but you could work on the code to design something similar.

First of all, you should take a look at the [visibility feature](http://3dhop.net/examples.php?id=5) how-to. Basically, if a model has the visibility

[2020-02-10 20:33] YILINQ commented on #31
Thank you for your advice and I think setting and toggling the "visible" property is a good way for now(Got rid of the browser crashing problem!).

Now I am designing the routine to check and set models now.

And one last question is, is it possible to not declare all models at beginning, and while I check the visibility of the model I decide which groups of model to declare and load, because with

[2020-02-21 13:33] potenziani commented on #31
Hi @YILINQ ,

at the moment 3DHOP does not provide an official way for the dynamic declaration of the 3D scene, but it can support it. The only drawback is that you have to use private functions.

There are two possibilities in dynamic scene declaration:
1. to declare all the meshes needed in the 3DHOP "setScene" setup and then to dynamically create the additional instances;
2. to dynamically decl

[2020-02-28 20:58] YILINQ commented on #31
Thank you for your detailed instruction! It took me quite a while to explore the source code and found this is really helpful. Now I am designing a whole new routine to achieve the goal, and I really appreciate your step-by-step guidance. Again I want to thank you guys for this amazing library and your kindness, I will let you know if I make some progress in the future!

[2020-02-28 20:58] #31 closed

[2020-03-12 16:04] mashalahmad opened #33 "Implementing 3DHOP in Rails"
Hi

I got the uncaught reference error at presenter file on the following line
SpiderGL.openNamespace();
error
Uncaught ReferenceError: SpiderGL is not defined

can you tell whats the reason??

[2020-03-13 10:21] potenziani commented on #33
Hi @mashalahmad

it is not possible to debug your issue without further information (3DHOP version, HW and SW system setup, etc).

Anyway, it seems to be a problem related to the non-inclusion of the spidergl.js file. Please, make sure you've included it in your HTML file (`<script type="text/javascript" src="js/spidergl.js"></script>`) and in the js folder of your project.

[2020-03-13 11:06] mashalahmad commented on #33
thanks I resolved that issue. Im trying to implement 3DHOP in rails. I am able to see the background image but model is not loading here is the piece of code
var presenter = null;

[code]

I got the error "404 model not found".
Now in rails usually images are put under the assets/images folder I put the background images there and they are loading but not the model

[2020-03-13 11:08] mashalahmad commented on #33
here is the screenshot
![error](https://user-images.githubusercontent.com/31829812/76616013-0758bd80-651b-11ea-9083-c1ddc9b73ed2.png)

[2020-03-13 12:08] potenziani commented on #33
Hi @mashalahmad
I do not have experience with Rails, so my help can only be partial.

In a common setup (local/remote HTTP web server) changing the relative folder of the resources (skins, css, js, models) is not a problem for 3DHOP. Of course, this means you have to update all the paths pointing those resources (and this could be the error causing the SpiderGL issue you reported previously).

Any

[2020-03-13 12:30] mashalahmad commented on #33
yeah im also very amazed. the same thing was previously happening to my background image so I included the ruby tag and background image was then displayed. Im not sure if I can do the same with java script in ruby or not. thanks btw

[2020-03-17 10:54] #33 closed

[2020-03-17 14:43] felmab opened #34 "sglHandleCanvas is not defined"
We use 3DHOP on a Drupal 7 website. I tried to upgrade the library to the latest release. When my page loads, I get the following error in console: ReferenceError: sglHandleCanvas is not defined (in presenter.js, line 43). I can replace sglHandleCanvas by SpiderGL.UserInterface.handleCanvas, but of course other errors arise later.

SpiderGL.openNamespace() does get called on line 20, however it do

[2020-03-18 11:32] potenziani commented on #34
Hi @felmab
could you provide me whit the version number of the 3DHOP package you are currently using (the one causing the problem) and, if you remember it, the version number of the 3DHOP package you used before (the one that worked).

Here you have the archive containing the current spidergl.js file not minified:

[spidergl.zip](https://github.com/cnr-isti-vclab/3DHOP/files/4348686/spidergl.zip)

[2020-03-18 13:45] potenziani commented on #34
Hi again @felmab
could you please try also this minified version (still latest DEV branch):

[spidergl.zip](https://github.com/cnr-isti-vclab/3DHOP/files/4349274/spidergl.zip)

Thanks, let me know

[2020-03-19 16:22] felmab commented on #34
Thanks @potenziani. Both files work, and it made me realize this bug is entirely my fault: Drupal makes it difficult to include files that use `$` instead of `jQuery`, so I replaced all occurrences of the former with the latter using sed (which is a rather dirty solution, but the alternatives were not much cleaner)... I certainly should check the other files while I am at it. Sorry for bothering y

[2020-03-19 16:22] #34 closed

[2020-03-31 08:18] felmab opened #35 "Setting tabindex on canvas messes with focus in Firefox"
SpiderGL adds the `tabindex="0"` attribute on the `<canvas>` element. To begin with, in order to help us better understand this issue, what is the purpose of this?

In Firefox (tested with version 74 under Archlinux and Ubuntu), but not in Chrome (more precisely Chromium), it seems this behaviour messes with focus, namely text selection disappears when the mouse button is released, and a select li

[2020-03-31 08:44] felmab opened #36 "jQuery no-conflict mode + implementing 3DHOP in a DOCKER container"
3DHOP calls the `jQuery` function by using the `$` alias. However, in order to be fully compatible with all systems which could implement this library, it would be better to switch to no-conflict mode and always call explicitly `jQuery`. For instance, Drupal uses jQuery in no-conflict mode, which makes it difficult to include files which use the `$` symbol.

[2020-03-31 09:02] felmab opened #37 "Allow configurable selectors"
When we instantiate a Presenter object, we need to provide the ID of a `<canvas>` element. However, it looks like other selectors (like `#toolbar`) cannot be configured, which force us to alter 3DHOP sources if this ID already exists on a website. Ideally, we could provide options to control this.

[2020-04-15 13:32] potenziani commented on #35
Hi @felmab
the issue you are experiencing is not related to "tabindex", but to a wrong focus command included in the interface source code (init.js). This bug has already been fixed in the DEVELOPMENT version of 3DHOP, as you can see below (tabindex + text selected _in_ FIREFOX + 3DHOP DEV):

![Annotazione 2020-04-15 150615](https://user-images.githubusercontent.com/2982503/79340644-e4129b00-7f2a-

[2020-04-15 13:55] potenziani commented on #37
Hi @felmab

you're absolutely right ... This is an old 3DHOP problem, but the good news is that we are finally on it. In fact, in the next months 3DHOP will go through a renewal process, also aimed at solving this weakness.

So, stay tuned (and in the meanwhile remember to keep your code updated with the latest 3DHOP DEVELOPMENT version)!

[2020-04-15 14:08] felmab commented on #35
Thanks @potenziani, I'll try to update to the latest dev version as advised.

[2020-04-20 16:44] #37 closed

[2020-04-20 16:44] #35 closed

[2020-06-10 08:51] ChrisSmiley opened #38 "Some security findings"
Hi,
I just wanted to let you know that our team have been helping out a bunch of open source projects by running security checking tools through some DevOps automation we setup.  We’ve found some items for you over at https://source-security.co.uk/51d233e9-37dc-447e-98f9-457ecafed57a/
Thanks, Chris

[2020-06-10 08:59] #38 closed

[2020-06-10 09:04] mcallieri commented on #38
This is spam.
Reported & blocked the user

[2020-06-15 12:55] cconsta1 commented on #36
Hi, I'm trying to integrate 3DHOP into [clowder](https://clowder.ncsa.illinois.edu/). And I think I'm running into the same issue you mention here. However, I'm not familiar with JavaScript at all so I don't know how to implement the noConflict function. It'll be nice if I can get some guidance.

[2020-06-15 14:29] felmab commented on #36
@cconsta1 I had to replace all occurrences of the `$` object with `jQuery` in the `js/` folder. Pay attention not to blindly replace replace all `$` signs as you could run into trouble, e.g. don't mess with spidergl.js which has nothing to do with jQuery AFAIK. This of course is not optimal as you'll have to repeat this operation on upgrades.

[2020-06-15 15:10] cconsta1 commented on #36
Hi @felmab and thank you very much! So basically, I have to replace `$` with `jQuery` in the files `init.js` and `jquery.js`? I want to implement a quick and dirty solution to make sure things work for now. Thanks again!

[2020-06-15 15:46] felmab commented on #36
@cconsta1 maybe not jquery.js. Besides, you're already including a copy of it in your website, not sure including it twice would be so great (I hope there'll be no version mismatch though). Take a look at your browser console in case of errors.

[2020-06-17 16:44] cconsta1 commented on #36
Hi @felmab, I'm still trying to get things to work. So, I did change all occurrences of `$` with `jQuery` inside `init.js` but I think I messed things up somehow and 3DHOP doesn't work inside clowder. I'm really new to JavaScript so I proceed via trial and error. I created a repository called viewer_hop btw, in case you want to take a look at what I'm doing.

[2020-06-17 18:32] felmab commented on #36
@cconsta1 what messages  appear in the browser console before and after you replace those occurrences?

[2020-06-17 19:05] cconsta1 commented on #36
This is the before log (with `init.js`):
[localhost-1592420450587.log](https://github.com/cnr-isti-vclab/3DHOP/files/4794603/localhost-1592420450587.log)

And this is the after (with `$` replaced with `jQuery` in `init.js`):
[localhost-1592420574865.log](https://github.com/cnr-isti-vclab/3DHOP/files/4794604/localhost-1592420574865.log)

[2020-06-17 20:03] felmab commented on #36
@cconsta1 I'm not sure you've run into the issue as me. I had errors like "$ is not a function", while you get some like "$(...).tab is not a function", which IMHO could be related to Bootstrap or jQuery UI, or some kind of incompatibility between libraries.

[2020-06-17 21:26] cconsta1 commented on #36
Hi @felmab. So I made a few changes to my code with the main one adding this line right after loading `jquery.js` (the 3DHOP version):

`   $(useTab).append('<script>var $oldjQuery = $.noConflict(true);</script>')                                                   `
You can find my code [here](https://github.com/cconsta1/viewer_hop).

I also created a custom `init_custom.js` file in which I replace

[2020-06-18 16:35] potenziani commented on #36
Hi guys,

the jQuery issue should be solved with 3DHOP 4.3 (just released). Enjoy it! ;)

[2020-06-18 16:43] felmab commented on #36
@potenziani this is great news! Thanks!

[2020-06-18 19:27] cconsta1 commented on #36
Hi @potenziani. Thanks for letting us know. My problem still persists though. :(
Can you guys point at the Drupal code so I can compare notes?

[2020-06-19 16:05] potenziani commented on #36
Hi @cconsta1 , I do not have experience with Clowder, so my help can be only partial, but your issue seems not to be related to jQuery...

However, to be sure, since 3DHOP uses jQuery only for the interface, you could try to remove it,
moving to a barebone implementation of our viewer (take a look at the example in the attached archive).

[3DHOP.zip](https://github.com/cnr-isti-vclab/3DHOP/files/4

[2020-06-22 14:35] afr-git opened #40 "Data/LODs stop loading in (after using viewer for a few minutes) [nexus setup]"
**Configuration (please complete the following information):**
 - Device: Desktop PC & laptop
 - OS: Windows 10
 - Browser: Chrome
 - 3DHOP Version : 4.3 (latest as of 2 days ago?)

**Describe the bug**
The viewer at first appears to work perfectly, streaming in the Nexus converted NXS/NXZ 3D model. Everything initially works as it should in terms of streaming the geometry and textures, which disp

[2020-06-23 09:48] potenziani commented on #40
Hi @afr-git
most probably your application is hitting the internal 3DHOP limit for the Nexus cache (2M triangles are not so much for Nexus, but 4*8K images are a lot of data to stream).

To be sure of that try to include nexus.monitor.js to your project. Once done you should get a debug panel superimposed to the 3DHOP viewer (top-right corner):

![Annotazione 2020-06-23 112313](https://user-images

[2020-06-23 10:55] afr-git commented on #40
Hi @potenziani thank you for the quick reply on this issue. I did as you said, and the monitor showed the 512MB cache size was the limiting factor. I increased it to 2GB and problem is solved! Thank you for your help!

I'm not really familiar with how the viewer works behind the scenes but I wonder if it is possible to dynamically unload the cache so the viewer doesn't hit the expanded cache limit

[2020-06-23 10:55] #40 closed, assigned to potenziani

[2020-06-23 14:21] potenziani commented on #40
Hi @afr-git, this is exactly what Nexus already does. But the good result of this procedure strongly depends on the 3D model (and "simple" geometries with a lot of textures do not help our caching system). Moreover, it is not easy to find a balance between rendering quality and number of HTML requests that is perfect and adaptative depending on the devices' resources and network capabilities...
An

[2020-06-25 16:40] afr-git opened #41 "[Feature requests] Screenshot resolution multiplier; rotate plane section tool"
I'm continuing to enjoy using 3D-HOP! Thanks for all your work on this. I'm sorry I can't do more to help with these requested features below but I'm hoping to lodge these as possible improvements to the tools if they aren't on any roadmaps/existing requests.

**Is your feature request related to a problem? Please describe.**
Request 1) The new screenshot feature is great, in terms of expanding on

[2020-06-26 13:26] cconsta1 commented on #36
Hi @potenziani! Thank you for sending me this basic version of 3DHOP. It turns out that the problem I was facing had nothing to do with 3DHOP, clowder, or jQuery. It was related to docker. Specifically, I use docker to run clowder inside containers. So what happened was that when I was copying 3DHOP from my local machine to docker, `^M` was added at the end of each line in every file. This is an o

[2020-06-29 17:26] potenziani commented on #36
Happy to see that you found a solution @cconsta1!

From our side, we will review the use of the JavaScript keyword `const` in 3DHOP, so every once in a while take a look at the DEV branch of the code to be aligned with all the next updates!

[2020-06-29 19:49] mcallieri commented on #41
hi. Thanks for the feedback.

1) the screenshot functionality is something new, and we would like to expand it in the future. High-res images could be a good idea.
There are two ways to do that:
- tiled rendering (as it is currently done in MeshLab): the scene is rendered multiple times, every time drawing only a chunk of the viewport. Chunks are collected and saved as a single image.
- offscreen

[2020-06-30 16:18] cconsta1 commented on #36
Hi again! Is it possible to ask another question in a closed subject? If yes here is my current implementation:

[code]

The problem is that `var referenceUrl = Configuration.url` holds the URL to a `.ply` file uploaded to the server. The address though is something like `/file/id_number/blob/`, i.e., the name of the file and the extension does not appear anywhere. If I type in the address manuall

[2020-07-01 09:37] potenziani commented on #36
Hi again @cconsta1, this could be due to the fact that 3DHOP uses files extension to understand if you are loading a PLY or a NEXUS model.

However, declaring a geometry in `SetScene`, you can force a specific mesh type, setting the `mType` parameter to the `nexus` or `ply` value.

For instance, in your case:

[code]

Of course, if you decide to not use the mType field, by default 3DHOP will try t

[2020-07-02 14:17] mcallieri commented on #41
As I said, the oblique section does NOT have a ready-made interface, you have to create one depending on your needs.
as an example of interface, see http://vcg.isti.cnr.it/varie/terrain/M2_AUTO.html

The oblique sectioning plane is stored in the format normal + offset (and sign).
The plane at offset 0 passes through the center of the scene bounding sphere.

To control the oblique section, you have

[2020-07-02 14:17] #41 closed, assigned to mcallieri

[2020-07-09 15:18] afr-git commented on #41
Thank you Marco for replying in such detail.

To convey what I was envisaging with the rotation of the plane section tool to be feature like my attached image, enabling the rotation of the existing sections in tandem with translation.

![3DHop_Rotation_slider](https://user-images.githubusercontent.com/44606529/87056671-ddc84e00-c1fd-11ea-8cc4-db5bc8a98788.png)

[2020-07-12 16:59] cconsta1 commented on #36
Hi! Sorry, I forgot to respond. It works! Thanks!!

[2020-07-13 08:29] #36 closed

[2020-09-09 16:22] cconsta1 commented on #36
Hello again!

I returned to adapting 3DHOP on clowder and I have two additional questions it'll be great to get some help at. First of all, I'm happy to report that 3DHOP runs smoothly on the server and it can open simple singleres files such as `laurana.ply`, `cube.ply`, etc. I also implemented a few tools and everything works fine. Here is my [work](https://github.com/cconsta1/viewer_hop) so far

[2020-09-10 07:48] mcallieri commented on #36
Just answering to the last point... That PLY file has been generated by an ARTEC scanner. Unfortunately, ARTEC saves the texture in a way we have never seen, and that is not standard. We were never able to work with textured files from  ARTEC: since we have colleagues working with that scanner, we always export in OBJ, and then work from there (either converting it to PLY o NXS)

[2020-09-10 08:30] cconsta1 commented on #36
Hi @mcallieri and thanks for your response! I used that file as a test case I guess. Where can I find PLY files accompanied with texture JPG files which I can use for testing? Moreover, do you use meshlab to convert files? I learned about it yesterday, and I downloaded a copy on my MAC.

[2020-09-13 20:24] cconsta1 commented on #36
Hi guys, I found the answer to question I (how to find the filename from the server). I still need to figure out how to work with texture files though.

[2020-09-17 09:22] potenziani commented on #36
Hi @cconsta1, [here](https://github.com/cnr-isti-vclab/3DHOP/files/5237514/triang_mesh.zip) you have a PLY model with a texture that you can use for your tests (it is one of our test models, so you can be sure that it works).

Moving to your questions:
I) already solved, am I right? We are happy you found a solution (and it would be great if you could share it with the community);
II) so, you can

[2020-09-21 10:01] cconsta1 commented on #36
Hi @potenziani! Thank you very much for your response and I apologize for the late reply.

I) So the solution is pretty simple! You can get the filename from the clowder server like this:

`var fileName = $('#file-name-title').text().trim();`

You can then get the filename extension like this:

` var fileNameExtension = fileName.substr(fileName.length - 3);`

You can then create a variable called

[2020-09-22 13:41] potenziani commented on #36
It would be great, @cconsta1! Providing helpful tips to the 3DHOP community is probably the biggest benefit of using this platform for solving issues (rather than sending direct emails)... So, any update is welcome! :)

[2020-10-02 21:22] cconsta1 commented on #36
Hi guys. I have one more question for you. The developers of clowder would like to make my 3DHOP previewer part of clowder (and I would like that very much myself).

However, because 3DHOP uses the GPL license, the only way to make the previewer part of clowder is if your libraries (the 3DHOP JavaScript code) is loaded from a remote server via some appropriate url. Is there any way we can do that?

[2020-10-05 08:21] potenziani commented on #36
Hi @cconsta1, currently 3DHOP is available for these purposes on our institution's web server, at this URL: [http://vcg.isti.cnr.it/3dhop/distribution/](http://vcg.isti.cnr.it/3dhop/distribution/).
The 3DHOP folders made available are "js", "skins", and "stylesheet".

Note: despite we are already using this "remote distribution" in a number of our projects, at the moment this is not a feature offi

[2020-10-05 13:07] cconsta1 commented on #36
Hi @potenziani and thank you for your response! Is it ok if I use this remote distribution then? As my viewer is a work in progress, I'll keep an eye for changes and official releases anyway. Since this is brought up, do you guys have an email list or newsletter so I can get informed about changes?

However, I'll need your help with the issue I run into with `presenter.js`. Specifically, I had to

[2020-10-06 07:50] potenziani commented on #36
@cconsta1, for sure you can use it! Unfortunately at the moment we have no mailing lists or newsletters for this kind of stuff, but usually we try to be consistent across our changes, so this shouldn't be a big problem (at worst you'll need to redefine the remote URL path in the future).

About the const issue: as far as I know, const is universally accepted (https://developer.mozilla.org/en-US/do

[2020-10-06 12:41] cconsta1 commented on #36
Hi @potenziani. I run into this problem when I was implementing 3DHOP on clowder using files downloaded locally on my server. So the solution was to change `const` to `var` (if you scroll up you'll find the issue). I don't know why this problem is caused though.

BTW, when I am loading the 3DHOP files from a local server I do something like this:

`var s = document.createElement("script");
    s.t

[2020-10-06 13:50] potenziani commented on #36
Ok @cconsta1 , first of all:

In a basic web page, to load the 3DHOP sources form the remote server just requires to change all the sources' path, replacing lines like this:

`<script type="text/javascript" src="js/presenter.js"></script>`

with this:

`<script type="text/javascript" src="http://vcg.isti.cnr.it/3dhop/distribution/js/presenter.js"></script>`

(check the source code of the showcase'

[2020-10-06 18:12] cconsta1 commented on #36
Hi @potenziani! Yes, of course, I understand!

OK, I think I'm loading all the necessary libraries correctly now but I get an uncaught reference error. Here is what I do:

[code]

I then do:

[code]

where `setup3dhop(referenceUrl, fileType)` is a custom function I wrote. But I get this error:

`Uncaught ReferenceError: init3dhop is not defined`

Any ideas?

[2020-10-12 14:08] potenziani commented on #36
It is hard to find what's wrong here...
However, the error you got is the same as you would get if you didn't include the "init.js" file, so I would investigate in that direction. Perhaps the procedure you designed for loading files is not correct? Or maybe the document ready function is fired before the init.js file finishes loading?

[2020-10-14 18:43] cconsta1 commented on #36
Hi @potenziani and thank you for your response! Ok, I'm close to figuring out a solution for the problem of loading 3DHOP from your servers. Here is how I load from your servers:

[code]

Here is the utility function `getScripts`:

[code]
So far so good but when I run clowder I get the error:

`Uncaught ReferenceError: SpiderGL is not defined`

related to `presenter.js` (which I believe is related

[2020-10-15 10:56] potenziani commented on #36
Glad to know you are doing progress on this, @cconsta1.

However, in my opinion, the error you got is still due to something wrong in the files loading routine (this time related to the spidergl.js file). The randomly of the error (when you reload the page) is also a clue in this direction (probably sometimes spidergl.js finishes loading before presenter.js call for it,  so you get no errors... or

[2020-10-16 12:52] cconsta1 commented on #36
Hi @potenziani! This was so nice of you to upload a file just for me but it turns out you were right! Things work perfectly fine with `presenter.js`. I also managed to make my code work on clowder without loading problems. My solution is ugly though:

[code]

I tested my previewer on chrome (everything runs smoothly and I have no crashes), safari (same as chrome), and firefox (ply files load fine

[2020-11-03 18:35] cconsta1 commented on #36
HI @potenziani! I just wanted to let you know that 3DHOP is now part of clowder :)

Moreover, I was wondering about how to go about loading a `ply` file with a `jpeg` texture now that I cannot intervene in your code because I'm loading from your server.

Finally, I was wondering whether you are aware of any similar JavaScript previewers which work with `fbx` files. Sketchfab would have been perfec

[2020-11-05 11:15] potenziani commented on #36
Hi @cconsta1, that's good news for all people wanting to use 3DHOP in clowder. Well done!

Concerning the PLY/texture separate loading, the answer is the same I gave you in https://github.com/cnr-isti-vclab/3DHOP/issues/36#issuecomment-694110860...
I know now you are loading 3DHOP from our server, but remember you can overwrite the methods you need to customize.

For instance, if after the `presen

[2020-11-05 16:14] cconsta1 commented on #36
Hi @potenziani!

I was not familiar with function overwriting. OK then, I can try that and see what happens.

And yes, after looking and asking around I ended up figuring out I need to learn about `three.js` so now I have a new project ahead! :)

Thanks again!!

[2020-11-11 10:00] cconsta1 commented on #36
Hi guys,

I went to the clowder [demo](https://clowderframework.org/) site to check that 3DHOP works properly now that it went online and to my disappointment, it doesn't. Here is the error message (which is repeated again and again for all files that I'm loading from your server):

[code]

I think it's self-explanatory (files need to be loaded from an `https` server.) Is there a way to circumvent

[2020-11-23 11:26] potenziani commented on #36
Hi @cconsta1,
we are planning to move 3DHOP to HTTPS in the coming weeks. This should solve your problem.

[2020-11-24 19:52] cconsta1 commented on #36
Hi @potenziani! Thanks for letting me know! Will you guys have an official announcement somewhere?

[2020-11-25 10:01] potenziani commented on #36
It's probably not the kind of feature that deserves an official announcement on our social channels, but don't worry, we'll let you know by replying to this post

[2020-11-27 16:32] cconsta1 commented on #36
Thank you @potenziani! Hope all is well!

[2020-12-15 09:56] potenziani commented on #36
Hi @cconsta1, this is just to inform you that 3DHOP is now experimentally available also over an HTTPS connection. You can find the usual distribution folders (js, skins, stylesheet) at this URL [https://3dhop.net/distribution/latest](https://3dhop.net/distribution/latest). Enjoy and let us know if it works for your purposes.

PS: we are still defining minor details, so little changes could happen

[2020-12-17 15:40] cconsta1 commented on #36
Hi @potenziani! Cool! Thanks for letting me know. I'll make the changes as soon as I find the time! Does the old HTTP server still work? Thanks again! :)

[2020-12-18 09:46] potenziani commented on #36
Yes, the old server is currently still working, but we plan to shut it down in the next few weeks when the transition/test period is over.

[2021-01-08 11:38] cconsta1 commented on #36
Hi guys,

I just replaced the old server with the new and everything runs smoothly :)

Thanks again!!

Best regards,
Valentino

[2021-02-03 07:59] cconsta1 commented on #36
Hi guys,

The new version of my viewer which uses the https server is now online. If you want you can check it out here:
https://clowder.ncsa.illinois.edu/clowder/

Just create an account and upload a PLY or NEXUS file to see what will happen.

Thanks again for all your help with this!

[2021-02-03 08:04] cconsta1 commented on #1
Hi guys. I'm also working with `three.js` for a previewer. It would be cool if I can make it work as smoothly as 3DHOP. Can I look into the code too?

[2021-02-12 09:34] potenziani commented on #36
Hi Consta,

I created an account a few days ago, but the system still says my account
is not active... so, no chance to try so far!

Ciao,

Marco Potenziani

Researcher
Visual Computing Laboratory
Institute of Information Science and Technologies (ISTI)
National Research Council (CNR)
Via G. Moruzzi 1, 56124 Pisa ITALY
phone: +39 050 621 8212
email: marco.potenziani@isti.cnr.it
web: http://vcg.ist

[2021-05-12 13:31] FunnyPaul opened #43 "Textured objects are not displayed on iOS"
**Configuration (please complete the following information):**
 - Device: iPhone
 - OS: iOS 14.x
 - Browser Safari (iOS), Chrome(iOS)
 - 3DHOP Version 4.3 stable

**Describe the bug**
When I convert a PLY file with texture via `nxsbuild`, it is not displayed on iOS. PC etc. works wonderfully.

If the PLY file is generated without texture (parameter `-u`), however, it works with the display under i

[2021-05-20 17:41] cconsta1 commented on #36
Hi guys.

We are doing some testing of 3DHOP in clowder and we run into some issues with three particular files. Specifically, one of them doesn't load at all and throws an error message (please see the attached picture), one loads fine but only some strange set of lines appears on the screen. And the other one loads but vertically. Moreover, the light doesn't work with the vertical model and some

[2021-08-30 09:35] fq-selbach opened #44 "Trackballs dragging speed option"
First of all thanks for this nice tool! Its working pretty well for our project there is just some little inconvenience I have with the rotation speed while using the mouse to drag the 3D model. See below please.
I was thinking to look into the code to fix this myself but wanted to ask for an opinion first :-).

**Is your feature request related to a problem? Please describe.**
When using the 'Sph

[2021-08-30 09:39] fq-selbach commented on #44
I just noticed that there is a related issue: https://github.com/cnr-isti-vclab/3DHOP/issues/23

Would you be interested in a PR to add the described solution as presenter option?

[2021-08-30 10:02] fq-selbach commented on #44
I've quickly implemented a speed scaling factor:

presenter.js:
[code]

index.html:
[code]

Works pretty well :-). I'm not sure about the name ('dragSpeedFactor') and the option section ('config') yet. Any ideas? ^^

[2022-07-29 11:08] eromanenko78 opened #46 "Input data for "animateToTrackballPosition""

[2022-07-29 19:03] #46 closed, assigned to nobody